#custommenu {
    position:relative;
    z-index:1000;
    font-size: 12px;
    margin: 0 auto;
    padding: 0 16px;
    width: 918px;
	text-transform:uppercase;
	
}
div.menu {
    float: left;
}
div.menu.act {
    background-color:#FFFFFF;
}
div.menu.active {
    background-color:#F1F1F1; 
}
div.wp-custom-menu-popup {
    position:absolute;
    z-index:3000;
    border:1px solid #FFFFFF;
    display: none;
    background-color:#fff;
    text-align:left;
}
div.menu, div.wp-custom-menu-popup {
    padding: 9px 12px 8px 9px;
}
div.wp-custom-menu-popup{ margin-top:8px}
div.menu a, div.wp-custom-menu-popup a {
    text-decoration: none;
    display:block;
}
div.wp-custom-menu-popup a.actParent {
    color: #4D4D4D;
}
div.wp-custom-menu-popup a.act {
    color: #A52A2A;
}
div.column {
    float:left;
    width:200px; /* column width */
    padding:5px;
}
div.itemSubMenu {
    margin-left:20px;
}
.clearBoth {
    clear:both;
}
